In [1]:
#Answer 1

print("Hello Python")

Hello Python

In [2]:
#Answer 2
def add(a,b):
    return a+b

def divide(a,b):
    return a/b

In [3]:

add(3,5)

8

In [4]:
divide(4,5)

0.8

In [5]:
#Answer 3
base = int(input("Enter the base of Triangle ="))
Height = int(input("Enter the height of Triangle = "))
Area = (Height*base)/2
print("The Area of Triangle of Base {} , Height {} is {}".format(base , Height , Area))

Enter the base of Triangle =4
Enter the height of Triangle = 9
The Area of Triangle of Base 4 , Height 9 is 18.0

In [6]:
#Answer 4
first_variable = int(input("First Variable ="))
second_variable = int(input("Second Variable ="))
print("First Variable Before swap  : {} \n Second variable Before Swap  : {}".format(first_variable,second_variable))
first_variable , second_variable = second_variable , first_variable

print("After Swap : \n First Variabe : {} \n  Second Variable : {}".format(first_variable , second_variable))

First Variable =4
Second Variable =5
First Variable Before swap  : 4
 Second variable Before Swap  : 5
After Swap :
 First Variabe : 5
  Second Variable : 4

In [8]:
#Answer 5
import random
print(random.randint(0,6))

2